body,html{
  height: 100%;
  background-image: linear-gradient(to bottom, blue 0%, black 100%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  padding: 7px 20px;
  font-size: 1.5em;
  border:2px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: rgb(0, 0, 255);
  color: white;
  cursor: pointer;
  margin: 5px; 
}

button:hover{
  background-color: rgb(28, 28, 255);
}

h1{
  font-size: 3em;
  margin: 5px;
}